.nav-tabs li {
  margin-bottom: -2px !important;
}
.nav-tabs a .badge {
  margin-top: -3px;
}
.nav-tabs .active a .badge {
  background-color: #5cb85c;
}

@media (max-width: 992px) {
  .tab-title {
    display: none;
  }

  .nav-tabs a .fa-fw {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
  }

  .res-button {
    display: none;
  }

  .btn-group button .fa-fw {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
  }
}
h1 {
  cursor: pointer;
}

.fa-html5 {
  color: #f36518;
}

#footer {
  position: fixed;
  bottom: 1em;
  right: 1em;
  font-size: 0.8em;
  font-style: italic;
  cursor: pointer;
  color: #000;
  -webkit-transition: color .15s;
  transition: color .15s;
}
#footer:hover {
  color: #4CAF50;
}
