// Variables
$shadeWhite:      #fff;     $shadeLightGray:  #eee;   
$shadeDarkGray:   #ccc;     $shadeBlackGray:  #555;
$shadeBlue:       #337ab7;  $shadeDarkBlue:   #2e6da4;
$shadeGreen:      #5cb85c;  $shadeDarkGreen:  #4cae4c;
$shadeCyan:       #5bc0de;  $shadeDarkCyan:   #46b8da;
$shadeOrange:     #f0ad4e;  $shadeDarkOrange: #eea236;
$shadeRed:        #d9534f;  $shadeDarkRed:    #d43f3a;
$shadePurple:     #9783b9;  $shadeDarkPurple: #6f5499;
$shadeHTML5Orange:                            #f36518;
// Navigation
.nav-tabs{
  & li{
    margin-bottom: -2px !important;
  }
  & a .badge{
    margin-top: -3px;
  }
  .active{
    & a .badge{
      background-color: $shadeGreen;
    }
  }
}
@media (max-width: 992px) {
  #tab-title{
    display:none;
  }
  .nav-tabs a .fa-fw{
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
  }
}
// Hand cursor when over the main header
h1{
  cursor: pointer;
}
.fa-html5{
  color: $shadeHTML5Orange;
}
// TODO: Cleanup and see what is still required

.fa-clipboard, .fa-times, .fa-jsfiddle {
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  z-index: 200;
  -webkit-transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
  transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
}

.fa-clipboard:hover, .fa-times:hover, .fa-jsfiddle:hover {
  color: #4CAF50;
  background-color: #fff;
}

.fa-clipboard {
  position: absolute;
  right: 30px;
  top: 9%;
  right: 15.25%;
  padding: 10px 8px;
}

.fa-jsfiddle {
  position: absolute;
  right: 30px;
  top: 9%;
  right: 11.75%;
  padding: 10px 8px;
}

.fa-times {
  position: absolute;
  right: 8.5%;
  top: 9%;
  padding: 10px;
}

@media screen and (max-width: 1000px) {
  .fa-clipboard {
    position: absolute;
    right: 8.5%;
    top: 25%;
    padding: 10px 8px;
  }
  .fa-jsfiddle {
    position: absolute;
    right: 8.5%;
    top: 17%;
    padding: 10px 8px;
  }
}

// TODO: Probably useless, integrate github.buttons instead

#footer {
  position: fixed;
  bottom: 1em;
  right: 1em;
  font-size: 0.8em;
  font-style: italic;
  cursor: pointer;
  color: #000;
  -webkit-transition: color .15s;
  transition: color .15s;
  &:hover {
    color: #4CAF50;
  }
}